---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Hero from '../components/Hero.astro'
import Offer from '../components/Offer.astro'
import Services from '../components/Services.astro'
import Portfolio from '../components/Portfolio.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="Short/cut">
	<main class="flex-col text-white">
		<Header />
		<Hero />
		<Services />
		<!-- <Portfolio /> -->
		<Offer />
		<Footer />
	</main>
</Layout>
