<div class="h-[1rem] p-8"></div>
<div class="from-1% absolute right-1/4 h-px w-1/4 bg-gradient-to-r from-rose-400/50"></div>
<div class="from-1% absolute left-1/4 h-px w-1/4 bg-gradient-to-l from-rose-400/50"></div>
<div class="flex w-full flex-col p-3 pt-2 lg:px-32 md:px-12 px-8 md:pt-6">
	<div class="flex items-center justify-between">
		<a class="btn btn-ghost text-2xl font-normal normal-case"
			>Short/cut
			<span class="h-2 w-2 -translate-x-1 translate-y-1 rounded-full bg-accent"></span>
		</a>
		<button class="btn btn-outline btn-xs rounded-full normal-case">Contact us</button>
	</div>
	<div class="flex items-center justify-between">
		<p class="text-xs">© 2023 Shortcut-editing. All rights reserved.</p>
		<div>
			<a class="btn btn-ghost btn-xs font-light normal-case"> Privacy policy</a>
			<a class="btn btn-ghost btn-xs font-light normal-case"> Terms of Service</a>
			<a class="btn btn-ghost btn-xs font-light normal-case"> Cookies Settings</a>
		</div>
	</div>
</div>
