<div class="h-[1rem]"></div>
    <div class=" absolute right-1/4 w-1/4 h-px bg-gradient-to-r from-rose-400/50 from-1% "></div>
    <div class="absolute left-1/4 w-1/4 h-px bg-gradient-to-l from-rose-400/50 from-1% "></div>
</div>
<div class="container"> 
    <a class="btn btn-ghost normal-case text-xl">Short/cut
        <span class=" w-2 h-2 rounded-full bg-accent translate-y-1 -translate-x-1 "></span>
    </a>
</div>