<div class="h-[1rem] p-8"></div>
    <div class=" absolute right-1/4 w-1/4 h-px bg-gradient-to-r from-rose-400/50 from-1% "></div>
    <div class="absolute left-1/4 w-1/4 h-px bg-gradient-to-l from-rose-400/50 from-1% "></div>
<div class=" w-full p-3 flex flex-col pt-2 md:px-20 md:pt-6"> 
    <div class="flex justify-between items-center">
    <a class="btn btn-ghost normal-case font-normal text-2xl">Short/cut
        <span class=" w-2 h-2 rounded-full bg-accent translate-y-1 -translate-x-1 "></span>
    </a>
        <button class="btn btn-outline rounded-full normal-case btn-xs  ">Contact us</button>
    </div>
    <div class="flex justify-between items-center">
        <p class="text-xs">© 2023 Shortcut-editing. All rights reserved.</p>
        <div>
            <a class="btn btn-ghost normal-case btn-xs font-light"> Privacy policy</a>
            <a class="btn btn-ghost normal-case btn-xs font-light"> Terms of Service</a>
            <a class="btn btn-ghost normal-case btn-xs font-light"> Cookies Settings</a>
        </div>
    </div>
</div>
