<div
	id="home"
	class="navbar flex-col justify-between gap-4 px-8 pt-2 sm:flex-row md:px-12 md:pt-6 lg:px-24"
>
	<a href="https://shortcut-7ec.pages.dev/" class="btn btn-ghost text-4xl normal-case"
		>Short/cut
		<span class="h-3.5 w-3.5 translate-y-2 rounded-full bg-red-500"></span>
	</a>
	<ul
		class="menu menu-horizontal justify-around rounded-3xl border border-base-content p-0.5 text-2xl sm:gap-1 lg:gap-4"
	>
		<li>
			<a class="pl-0.5 pr-0.5 sm:pl-1 sm:pr-1" href="#home">
				<button class="btn btn-outline rounded-full border-transparent p-3 normal-case">Home</button
				></a
			>
		</li>
		<li>
			<a class="pl-0.5 pr-0.5" href="#services">
				<button class="btn btn-outline rounded-full border-transparent normal-case">Services</button
				>
			</a>
		</li>
		<li>
			<a class="pl-0.5 pr-0.5" href="#portfolio">
				<button class="btn btn-outline rounded-full border-transparent normal-case"
					>Portfolio</button
				>
			</a>
		</li>
		<li>
			<a class="pl-0.5 pr-0.5" href="#pricing">
				<button class="btn btn-outline rounded-full border-transparent normal-case">Pricing</button>
			</a>
		</li>
	</ul>
	<button class="btn btn-outline rounded-full normal-case">Book a call</button>
</div>
