<div class="navbar justify-between bg-base-100">
  <a class="btn btn-ghost normal-case text-xl">Short/cut
  <span class=" w-2 h-2 rounded-full bg-accent translate-y-1 -translate-x-1 "></span>
  </a>
<ul class="menu menu-horizontal bg-base-100 border border-base-content rounded-3xl p-1 ">
  <li ><a class="rounded-full hover:rounded-full hover:text-base-100 hover:bg-base-content ">Home</a></li>
  <li ><a class="rounded-full hover:rounded-full hover:text-base-100 hover:bg-base-content ">Services</a></li>
  <li ><a class="rounded-full hover:rounded-full hover:text-base-100 hover:bg-base-content ">Portfolio</a></li>
  <li ><a class="rounded-full hover:rounded-full hover:text-base-100 hover:bg-base-content ">Pricing</a></li>
</ul>
  <button class="btn btn-primary rounded-full">Get in Touch</button>
</div>
