<div id="home" class="pt-2 md:px-20 md:pt-6 navbar justify-between gap-3">
  <a class="btn btn-ghost normal-case text-4xl">Short/cut
  <span class=" w-3.5 h-3.5 rounded-full bg-red-500 translate-y-2  "></span>
  </a>
<ul class="menu menu-horizontal gap-4 text-2xl border border-base-content rounded-3xl p-3 ">
  <li ><a href="#home" class="rounded-full hover:rounded-full hover:text-base-300 hover:bg-base-content ">Home</a></li>
  <li ><a href="#services" class="rounded-full hover:rounded-full hover:text-base-300 hover:bg-base-content ">Services</a></li>
  <li ><a href="#portfolio" class="rounded-full hover:rounded-full hover:text-base-300 hover:bg-base-content ">Portfolio</a></li>
  <li ><a href="#pricing" class="rounded-full hover:rounded-full hover:text-base-300 hover:bg-base-content ">Pricing</a></li>
</ul>
  <button class="btn btn-outline rounded-full text-2xl font-normal font-sans  normal-case ">Book a call</button>
</div>
