<div id="home" class="navbar justify-between gap-3 px-8 pt-2 md:px-12 md:pt-6 lg:px-32">
	<a href="https://shortcut-7ec.pages.dev/" class="btn btn-ghost text-4xl normal-case"
		>Short/cut
		<span class="h-3.5 w-3.5 translate-y-2 rounded-full bg-red-500"></span>
	</a>
	<ul class="menu menu-horizontal gap-4 rounded-3xl border border-base-content p-3 text-2xl">
		<li>
			<a
				href="#home"
				class="rounded-full hover:rounded-full hover:bg-base-content hover:text-base-300">Home</a
			>
		</li>
		<li>
			<a
				href="#services"
				class="rounded-full hover:rounded-full hover:bg-base-content hover:text-base-300"
				>Services</a
			>
		</li>
		<li>
			<a
				href="#portfolio"
				class="rounded-full hover:rounded-full hover:bg-base-content hover:text-base-300"
				>Portfolio</a
			>
		</li>
		<li>
			<a
				href="#pricing"
				class="rounded-full hover:rounded-full hover:bg-base-content hover:text-base-300">Pricing</a
			>
		</li>
	</ul>
	<button class="btn btn-outline rounded-full font-sans text-2xl font-normal normal-case"
		>Book a call</button
	>
</div>
