<div
	class="relative flex w-full flex-col-reverse justify-between gap-64 py-24 pt-2 lg:px-32 md:px-12 px-8 md:pt-6 lg:flex-row-reverse"
>
	<div class="relative hidden h-screen w-2/3 min-w-max max-w-xl rounded-lg shadow-2xl lg:block">
		<div
			class="custom-gradient absolute inset-0 -z-50 rounded-xl border-4 border-white p-4 shadow-2xl blur-xl"
		>
		</div>
		<div class="absolute inset-0 rounded-xl bg-white p-4 opacity-30 backdrop-blur-lg"></div>
		<div class="absolute inset-0 rounded-xl bg-gradient-to-b from-white/20 p-4 backdrop-blur-lg">
		</div>
	</div>
	<div>
		<div
			class="-z-1 absolute h-[4.5rem] w-[11.25rem] rounded-xl border-4 border-white bg-gradient-to-br from-red-400 via-indigo-500 to-orange-300 blur-2xl"
		>
		</div>
		<h1 class="relative z-50 text-8xl font-bold">Transform your content into viral shorts</h1>
		<p class="py-7 text-2xl leading-9">
			Increase your audience reach with high quality shorts video content tailored for your brand.
			Expand your reach through all social media platforms.
		</p>
		<a href="#pricing"
			><button class="btn btn-accent btn-lg rounded-full normal-case">Short now</button></a
		>
	</div>
	<div
		class="absolute top-0 -z-10 h-screen w-full translate-y-48 overflow-visible bg-[url('/hero-left-bg.svg')] bg-cover bg-no-repeat"
	>
	</div>
</div>
<style>
	.custom-gradient {
		background: linear-gradient(153deg, #fa6c6c 0%, #6e57ff 56%, #cc6e00 100%);
	}
</style>
