<div class=" relative hero min-h-screen ">
  <div class="hero-content justify-between  w-5/6 max-w-screen-2xl flex-row lg:flex-row ">
    <div class="w-3/5 flex-col relative">
      <!-- <span class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-primary to-green-400 absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"></span> -->
      <div class="-z-1 absolute w-[11.25rem] h-[4.5rem] bg-gradient-to-br from-red-400 via-indigo-500 to-orange-300 rounded-xl border-4 border-white blur-2xl"></div>
      <h1 class=" relative z-50 text-6xl font-bold">
        Convert your existing content into viral shorts
      </h1>
      <p class="py-6 text-lg">
        Increase your audience reach with high quality shorts video content tailored for your brand. Expand your reach through all social media platforms.
      </p>
      <button class="btn btn-accent rounded-full">Short now</button>
    </div>
    <div class="w-2/5 max-h-96 self-stretch relative rounded-lg shadow-2xl custom-gradient custom-backdrop-blur">
    </div>
    <!-- <img src="/images/stock/photo-1635805737707-575885ab0820.jpg" class="" /> -->
    <!-- <div class="  w-2/5 self-stretch relative  rounded-lg shadow-2xl"> -->
    <!--   <div class="inset-0 p-4 absolute bg-gradient-to-r from-red-400 via-purple-500 to-yellow-400 shadow-2xl rounded-xl border-4 border-white blur-xl"></div> -->
    <!--   <div class="inset-0 p-4 absolute opacity-30 bg-white rounded-xl backdrop-blur-lg"></div> -->
    <!--   <div class="inset-0 p-4 absolute bg-gradient-to-b from-white to-transparent rounded-xl backdrop-blur-lg"></div> -->
    <!-- </div> -->
  </div>
      <div class=" bottom-0 absolute -z-10 h-screen w-full overflow-visible translate-y-48 bg-[url('/hero-left-bg.svg')] bg-contain bg-no-repeat "/>
</div>
<style>
.custom-gradient {
  background: linear-gradient(153deg, #FA6C6C 0%, #6E57FF 56%, #CC6E00 100%);
  box-shadow: 56px 56px 56px;
  filter: blur(56px);
}
</style>
