<div class="hero min-h-screen bg-base-100">
  <div class="hero-content justify-between  w-5/6 max-w-screen-2xl flex-row lg:flex-row ">
    <div class="w-3/5 flex-col">
      <!-- <span class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-primary to-green-400 absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"></span> -->
      <div class="z-0 absolute w-[11.25rem] h-[4.5rem] bg-gradient-to-br from-red-400 via-indigo-500 to-orange-300 rounded-xl border-4 border-white blur-2xl"></div>

      <h1 class="z-50 text-5xl font-bold">Short/cut your social media content</h1>
      <p class="py-6">
        Increase your audiance reach with high quality shorts content tailored for your market. </p>
      <button class="btn btn-primary">Start now</button>
      <div class="left-0">
        <svg  viewBox="0 0 789 523" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_f_617_995)">
            <path d="M226.493 226.511C157.949 198.608 92.4932 92.5114 92.4932 92.5114C92.4932 92.5114 109.915 379.058 240.993 397.011C331.146 409.359 357.738 284.412 448.493 291.011C540.545 297.706 548.434 441.138 639.993 429.511C770.585 412.928 650.133 75.3545 523.993 113.011C463.928 130.943 467.706 200.898 410.493 226.511C344.909 255.873 293.047 253.604 226.493 226.511Z" fill="url(#paint0_radial_617_995)" fill-opacity="0.8"/>
          </g>
          <defs>
            <filter id="filter0_f_617_995" x="0.493164" y="0.511414" width="787.894" height="521.67" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
              <feGaussianBlur stdDeviation="46" result="effect1_foregroundBlur_617_995"/>
            </filter>
            <radialGradient id="paint0_radial_617_995" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(394.44 261.346) rotate(90) scale(168.835 301.947)">
              <stop stop-color="#E45353"/>
              <stop offset="1" stop-color="#6139FF" stop-opacity="0"/>
            </radialGradient>
          </defs>
        </svg>
      </div>
    </div>
    <!-- <img src="/images/stock/photo-1635805737707-575885ab0820.jpg" class="" /> -->
    <div class="  w-2/5 self-stretch relative  rounded-lg shadow-2xl">
      <div class="inset-0 p-4 absolute bg-gradient-to-r from-red-400 via-purple-500 to-yellow-400 shadow-2xl rounded-xl border-4 border-white blur-xl"></div>
      <div class="inset-0 p-4 absolute opacity-30 bg-white rounded-xl backdrop-blur-lg"></div>
      <div class="inset-0 p-4 absolute bg-gradient-to-b from-white to-transparent rounded-xl backdrop-blur-lg"></div>
    </div>
  </div>
</div>
