---
import { Icon } from 'astro-icon'

interface Props {
	price: string
	body: string[]
	href: string
	call: string
}

const { href, price, body } = Astro.props
---

<div class="card w-96 rounded-2xl border border-base-content bg-black/40 p-1 shadow-xl">
	<figure class="space-x-2 px-10 pt-10">
		<h2 class="text-6xl font-bold">{price}$</h2><p>/ month</p>
	</figure>
	<div>
		<div class="h-[1rem]"></div>
		<div class="from-1% absolute right-1/4 h-px w-1/4 bg-gradient-to-r from-accent/50"></div>
		<div class="from-1% absolute left-1/4 h-px w-1/4 bg-gradient-to-l from-accent/50"></div>
	</div>
	<div class="card-body items-start gap-4 p-5 text-center">
		<!-- <h2 class="card-title">Shoes!</h2> -->
		<p>What is included</p>
		<ul class="p-y-3 flex flex-col gap-y-4 text-left">
			{
				body.map((item) => (
					<li class="flex content-center justify-start gap-3">
						<span class="self-center">
							<Icon name="bi:check-square-fill" width="24" height="24" />
						</span>
						<span>{item}</span>
					</li>
				))
			}
		</ul>
		<div class="card-actions flex-col items-center self-center">
			<!-- <a href={href}><button class="btn btn-accent rounded-full" >Start Now</button></a> -->
			<script async src="https://js.stripe.com/v3/buy-button.js"></script>
			<stripe-buy-button
				buy-button-id="buy_btn_1ODOpPASvNKVhcaGePzTrUvX"
				publishable-key="pk_test_51ODOLeASvNKVhcaGmpNUhY0bG9hIdGnTYouuGoHcBcRM6FwTjkd5gN6gJY5KBC9FJ9O5Yn6yrqrFCrJpUyO1zmr2000BZrUhO9"
			></stripe-buy-button>
			<button class="btn btn-outline rounded-full normal-case">Book a call</button>
		</div>
	</div>
</div>
<!-- <style lang="css"> -->
<!--     [astro-icon] { -->
<!--         color: blue; -->
<!--         /* OR */ -->
<!--         fill: blue; -->
<!--     } -->
<!-- </style> -->
