<div class="flex justify-center">
<div class="custom-gradient card w-4/5 gap-3 justify-center flex flex-col shadow-xl border border-base-content rounded-2xl p-4 space-y-4">
    <h2 class="text-3xl font-bold text-center">Check out our recent work</h2>
    <div class="card-actions flex-col self-center items-center">
    <a href="#" >
      <button class="btn btn-outline btn-primary rounded-full">Access to our creation</button>
            </a>
            </div>
    <p class="text-center">Our mission is to spread out your message through the right channels at the right time. We do more than video edition, it’s story telling for each content we carefully select and review before publishing.</p>
</div>
</div>
<style>
.custom-gradient {
 background: linear-gradient(96deg,
        rgba(188, 88, 255, 0.13) 6.08%, 
        rgba(84, 81, 215, 0.10) 49.29%, 
        rgba(212, 57, 57, 0.00) 88.82%);
}


.background-total {
    border-radius: var(--icon-icon-md, 16px);
border: 1px solid rgba(255, 255, 255, 0.60);
background: linear-gradient(96deg, rgba(188, 88, 255, 0.16) 6.08%, rgba(84, 81, 215, 0.13) 49.29%, rgba(212, 57, 57, 0.00) 88.82%), url(<path-to-image>), lightgray 0% 0% / 50px 50px repeat;
background-blend-mode: normal, soft-light;
backdrop-filter: blur(14px);
}
</style>
