<div id="portfolio" class="flex justify-center p-12 pt-2 lg:px-32 md:px-12 px-8 md:pt-6">
	<div
		class="custom-gradient card flex flex-col justify-center gap-3 space-y-4 rounded-2xl border border-base-content p-4 shadow-xl"
	>
		<h2 class="text-center text-4xl font-bold">Check out our recent work</h2>
		<div class="card-actions flex-col items-center self-center">
			<a href="#">
				<button class="btn btn-outline rounded-full normal-case">Access to our creation</button>
			</a>
		</div>
		<p class="text-center text-xl">
			Our mission is to spread out your message through the right channels at the right time. We do
			more than video edition, it’s story telling for each content we carefully select and review
			before publishing.
		</p>
	</div>
</div>
<style>
	.custom-gradient {
		background: linear-gradient(
			96deg,
			rgba(188, 88, 255, 0.13) 6.08%,
			rgba(84, 81, 215, 0.1) 49.29%,
			rgba(212, 57, 57, 0) 88.82%
		);
	}
</style>
