---
import ServiceCard from './ServiceCard.astro'
---

<div id="services" class="flex flex-col gap-2 pt-2 lg:px-32 md:px-12 px-8 md:pt-6">
	<h2 class="whitespace-pre-line pb-2 text-center text-6xl font-bold">
		Use Short/cut to maximise your content potential
	</h2>
	<p class="mb-10 text-center">Let’s make your voice be heard the right way.</p>
	<div class="mb-10 flex justify-center gap-3 p-10">
		<ServiceCard
			icon="bolt"
			title="Short on request"
			description="Delivering High quality short curated to your target audience within a few business days"
		/>
		<ServiceCard
			icon="book"
			title="We create stories"
			description="Producing engaging content through story telling shorts that hook viewers retention"
		/>
		<ServiceCard
			icon="brush"
			title="Personalised visual identity"
			description="Foster brand recognition by adopting a unique visual identity for all your short content"
		/>
	</div>
</div>
<!-- icon:"heroicons:bolt-20-solid" -->
<!-- icon:"heroicons:paint-brush-solid" -->
<!-- icon:"heroicons:paint-brush-solid" -->
